<!-- sección de encabezado inicio -->
<div class="header_section">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="logo"><a routerLink="/home"><img src="/images/logo.png" alt="Logo"></a></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home">Inicio</a>
            <a class="nav-item nav-link" routerLink="/about">Nosotros</a>
            <a class="nav-item nav-link" routerLink="/teashop">Teashop</a>
            <a class="nav-item nav-link" routerLink="/pricing">Precios</a>
            <a class="nav-item nav-link" routerLink="/testimonies">Testimonios</a>
            <a class="nav-item nav-link" routerLink="/contact">Contacto</a>
         </div>
      </div>
      <div class="login_menu">
         <a href="#"><img src="/images/search-icon.png" alt="Buscar"></a>
      </div>
   </nav>
   <!-- sección de banner inicio -->
   <div class="banner_section layout_padding">
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <h1 class="banner_taital">El Sabor del <span style="color: #f3801f;">Té</span></h1>
                     </div>
                     <div class="col-md-6">
                        <div><img src="/images/img-4.png" class="image_1" alt="Té"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <h1 class="banner_taital">El Sabor del <span style="color: #f3801f;">Té</span></h1>
                     </div>
                     <div class="col-md-6">
                        <div><img src="/images/img-4.png" class="image_1" alt="Té"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <h1 class="banner_taital">El Sabor del <span style="color: #f3801f;">Té</span></h1>
                     </div>
                     <div class="col-md-6">
                        <div><img src="/images/img-1.png" class="image_1" alt="Té"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
         <i class="fa fa-angle-left"></i>
         </a>
         <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
         <i class="fa fa-angle-right"></i>
         </a>
      </div>
   </div>
   <div class="container">
      <div class="play_icon"><a href="#"><img src="/images/play-icon.png" alt="Reproducir Video"></a></div>
   </div>
   <!-- sección de banner fin -->
</div>
<!-- sección de encabezado fin -->
