<div class="product_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="product_info bg-white p-4 rounded shadow mt-4 mb-4">
                    <div class="product_image mb-4">
                        <img src="{{ tea?.imageUrl }}" alt="{{ tea?.name }}" class="img-fluid rounded">
                    </div>
                    <div class="product_details">
                        <h3 class="mb-3">{{ tea?.name }}</h3>
                        <p class="mb-4">{{ tea?.description }}</p>
                        <div class="border-bottom mb-4"></div>
                        <h4>Origen</h4>
                        <p>Región: País</p>
                        <h4 class="mt-4">Características</h4>
                        <p>Tipo de té: Tipo de té (verde, negro, oolong, etc.)</p>
                        <p>Sabor: Descripción del sabor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
